In [2]:
import warnings
warnings.filterwarnings('ignore', category = DeprecationWarning)
import requests
import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
import random
import numpy as np
import pandas as pd
import itertools
from sklearn import svm
from sklearn import tree
from urllib import request
from random import randint
#from wordcloud import WordCloud
from nltk import word_tokenize
from collections import Counter
import matplotlib.pyplot as plt
import gensim
from gensim.models import LdaModel, Word2Vec
import pyLDAvis
import pyLDAvis.gensim_models
from gensim.test.utils import common_texts
from gensim.corpora.dictionary import Dictionary
from nltk.corpus import stopwords
from sklearn import preprocessing
from nltk.stem import WordNetLemmatizer
#!pip install mlxtend
#from mlxtend.evaluate import bias_variance_decomp
from sklearn.cluster import KMeans
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection  import cross_val_score
from sklearn.model_selection import train_test_split, KFold
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.utils import shuffle
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hadyo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hadyo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hadyo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
books_url_list = ["https://www.gutenberg.org/files/19719/19719-0.txt",
                  "https://www.gutenberg.org/cache/epub/28434/pg28434.txt",
                  "https://www.gutenberg.org/cache/epub/15147/pg15147.txt",
                  "https://www.gutenberg.org/cache/epub/17866/pg17866.txt",
                  "https://www.gutenberg.org/files/3772/3772-0.txt"]

# Preprocessing

In [4]:
#function read raw data
def read_books(url):
    files = []
    for i in url:
        file = requests.get(url = i)
        files.append(file.content.decode('utf-8'))
    return files

#read raw data
raw_dataset = read_books(books_url_list)
len(raw_dataset)

5

In [5]:
#Function cleaned tokens
def cleaned_text(raw_text):
    text_beg = raw_text.find("*** START OF")
    text_end = raw_text.find("*** END OF")

    raw_text = raw_text[text_beg : text_end]
    raw_text = re.findall(r"[a-zA-Z]+", raw_text)
    raw_text = " ".join(raw_text).lower()
    tokens = word_tokenize(raw_text)
    stop_words = stopwords.words("english")
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words]
    
    return tokens
#Getting cleaned tokens
tokens = []
for i in range(len(raw_dataset)):
    tokens.append(cleaned_text(raw_dataset[i]))
len(tokens)

5

In [6]:
#function to extract author name, book name and labels
book_author_mapping = {}
def extract_book_author(raw_text, index):
    label = chr(index + 97)
        
    title_beg = raw_text.find("Title") + 7
    title_end = raw_text.find("\r\n\r\nAuthor")
    title = raw_text[title_beg : title_end]

    author_beg = raw_text.find("Author") + 8
    c = 0
    while raw_text[author_beg + c] != "\r":
        c += 1
        author_end = author_beg + c
    author = raw_text[author_beg : author_end]
    
    book_author_mapping[label] = [title, author]
    
    return label, title, author

#getting the author name, book name, labels
label, author, title = [], [], []
for i in range(len(raw_dataset)):
    label_temp, title_temp, author_temp = extract_book_author(raw_dataset[i],i)
    label.append(label_temp)
    author.append(author_temp)
    title.append(title_temp)
    
print(len(label))
print(len(author))
print(len(title))

5
5
5

In [12]:
#function to partition data
def partitioned_text(tokens, title, author, label):
    final_book_partitions = []
    book_partitions = []
    for j in range(len(tokens)):
        subtractor = len(tokens[j])
        for i in range(0, 200):
            if(subtractor > 150):
                partition = [" ".join(tokens[j][i : i + 150]), title[j], author[j], label[j]]
                book_partitions.append(partition)
                subtractor -= 150
    return book_partitions

In [13]:
#getting partitoins
partitions = pd.DataFrame(partitioned_text(tokens, title, author, label),columns = ['partitions', 'title', 'author', 'label'])

partitions = shuffle(partitions)
partitions

,partitions,title,author,label
356,astronomy ii astronomy seventeenth century iii...,The Astronomy of Milton's 'Paradise Lost',Thomas Orchard,b
126,chapter letter sound vowel consonant exercise ...,The Art Of Writing & Speaking The English Lang...,Sherwin Cody,a
855,rock stratification imbedded fossil volcanic r...,The Student’s Elements of Geology,Sir Charles Lyell,e
318,lost thomas n orchard member british astronomi...,The Astronomy of Milton's 'Paradise Lost',Thomas Orchard,b
592,branch needlework whole work interspersed colo...,Beeton's Book of Needlework,Isabella Beeton,c
...,...,...,...,...
579,knitting netting berlin wool work point lace g...,Beeton's Book of Needlework,Isabella Beeton,c
255,punctuation hyphenation inconsistency correcte...,The Astronomy of Milton's 'Paradise Lost',Thomas Orchard,b
637,promised dedication entirely different novel m...,Murder in the Gunroom,Henry Beam Piper,d
127,letter sound vowel consonant exercise dictiona...,The Art Of Writing & Speaking The English Lang...,Sherwin Cody,a
588,prefixed page devoted separate branch needlewo...,Beeton's Book of Needlework,Isabella Beeton,c

# Feature Engineering

## BOW model

In [14]:
def model_BOW(data): # take the partitions
    cv = CountVectorizer()
    cv_fit = cv.fit_transform(data.iloc[:,0]).toarray()
    cv_fit_df = pd.DataFrame(cv_fit, columns = cv.get_feature_names())
    return cv_fit_df
    

bow_vectorizer = model_BOW(partitions)
bow_vectorizer

,abdegilns,ability,able,absurd,accident,according,accuracy,acid,acknowledged,action,...,write,writer,writing,wrong,wrought,www,year,yet,york,young
0,0,0,1,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1,0,...,2,0,2,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
997,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
998,0,0,0,0,0,0,0,0,1,0,...,2,0,2,0,0,0,0,1,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## TF-IDF model

In [15]:
def model_TFIDF(data): # take the partitions
    tfIdf = TfidfVectorizer(use_idf=True)
    tfidf_fit = tfIdf.fit_transform(data.iloc[:,0]).toarray()
    tfidf_fit_df = pd.DataFrame(tfidf_fit, columns = tfIdf.get_feature_names())
    return tfidf_fit_df

tfidf_vectorizer = model_TFIDF(partitions)
tfidf_vectorizer

,abdegilns,ability,able,absurd,accident,according,accuracy,acid,acknowledged,action,...,write,writer,writing,wrong,wrought,www,year,yet,york,young
0,0.0,0.0,0.076399,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.153672,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.094241
1,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.076724,0.0,...,0.141259,0.000000,0.139438,0.0,0.0,0.0,0.000000,0.078777,0.000000,0.000000
2,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,0.080242,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.080701,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.056344,0.000000
4,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.039251,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.041299,0.000000,0.000000,0.000000
996,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.048139,0.000000
997,0.0,0.0,0.000000,0.0,0.085598,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.104794,0.000000,0.000000,0.000000
998,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.076857,0.0,...,0.141505,0.000000,0.139681,0.0,0.0,0.0,0.000000,0.078914,0.000000,0.000000
999,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.040142,0.000000,0.000000,0.000000

## LDA as a feature extractor

In [16]:
def model_LDA2(data): # take the partitions
    cv = CountVectorizer(max_df = 0.9, min_df = 2)
    dtm = cv.fit_transform(data)
    lda = LatentDirichletAllocation(n_components = 5, random_state = 5)
    lda = lda.fit_transform(dtm)
    return lda

lda = model_LDA2(partitions['partitions'])
lda

array([[0.00135284, 0.00135267, 0.00135459, 0.00135999, 0.99457991],
       [0.00136088, 0.00136165, 0.00135649, 0.00135641, 0.99456457],
       [0.00132641, 0.57571221, 0.42030756, 0.00132671, 0.0013271 ],
       ...,
       [0.99469231, 0.00132588, 0.00132752, 0.00132781, 0.00132648],
       [0.00136078, 0.0013613 , 0.00135625, 0.00135641, 0.99456525],
       [0.00133649, 0.00133375, 0.0013366 , 0.99465246, 0.0013407 ]])

## wordembedding model

In [17]:
partitions_splitted = []
for partition in partitions['partitions']:
    temp = partition.split()
    partitions_splitted.append(temp)

In [18]:
def model_word2vec(tokens_data): # take the partitions_splitted
    model = Word2Vec(sentences = tokens_data, vector_size = 150, workers = 6)
    return model

In [19]:
word2vec_model = model_word2vec(partitions_splitted)
word2vec_model

In [20]:
#Create the word document vectors
def doc_vectors(data_tokens, word2vec_model):
    features = []
    for tokens in data_tokens:
        zero_vector = np.zeros(word2vec_model.vector_size)
        vectors = []
        for token in tokens:
            if token in word2vec_model.wv:
                vectors.append(word2vec_model.wv[token])
        if vectors:
            vectors = np.asarray(vectors)
            avg_vec = vectors.mean(axis = 0)
            features.append(avg_vec)
        else:
            features.append(zero_vector)
    return features

vectorized_doc = doc_vectors(partitions_splitted, word2vec_model)

In [21]:
len(vectorized_doc), len(vectorized_doc[0])

(1000, 150)